<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>LiveIconLab</string>
    <key>CFBundleExecutable</key>
    <string>LiveIconLab</string>
    <key>CFBundleIdentifier</key>
    <string>com.goldcreative.liveiconlab</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>LiveIconLab</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.3</string>
    <key>CFBundleVersion</key>
    <string>3</string>

    <key>CFBundleIconFiles</key>
    <array>
        <string>Icon-20@2x.png</string>
        <string>Icon-29@2x.png</string>
        <string>Icon-40@2x.png</string>
        <string>Icon-76.png</string>
        <string>Icon-76@2x.png</string>
        <string>Icon-83.5@2x.png</string>
        <string>Icon-1024.png</string>
    </array>

    <key>CFBundleIcons~ipad</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>Icon-20@2x.png</string>
                <string>Icon-29@2x.png</string>
                <string>Icon-40@2x.png</string>
                <string>Icon-76.png</string>
                <string>Icon-76@2x.png</string>
                <string>Icon-83.5@2x.png</string>
                <string>Icon-1024.png</string>
            </array>
            <key>UIPrerenderedIcon</key>
            <false/>
        </dict>

        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>ClockFrame00</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ClockFrame00-20@2x.png</string>
                    <string>ClockFrame00-29@2x.png</string>
                    <string>ClockFrame00-40@2x.png</string>
                    <string>ClockFrame00-76.png</string>
                    <string>ClockFrame00-76@2x.png</string>
                    <string>ClockFrame00-83.5@2x.png</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>ClockFrame01</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ClockFrame01-20@2x.png</string>
                    <string>ClockFrame01-29@2x.png</string>
                    <string>ClockFrame01-40@2x.png</string>
                    <string>ClockFrame01-76.png</string>
                    <string>ClockFrame01-76@2x.png</string>
                    <string>ClockFrame01-83.5@2x.png</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>ClockFrame02</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ClockFrame02-20@2x.png</string>
                    <string>ClockFrame02-29@2x.png</string>
                    <string>ClockFrame02-40@2x.png</string>
                    <string>ClockFrame02-76.png</string>
                    <string>ClockFrame02-76@2x.png</string>
                    <string>ClockFrame02-83.5@2x.png</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>ClockFrame03</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ClockFrame03-20@2x.png</string>
                    <string>ClockFrame03-29@2x.png</string>
                    <string>ClockFrame03-40@2x.png</string>
                    <string>ClockFrame03-76.png</string>
                    <string>ClockFrame03-76@2x.png</string>
                    <string>ClockFrame03-83.5@2x.png</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>ClockFrame04</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ClockFrame04-20@2x.png</string>
                    <string>ClockFrame04-29@2x.png</string>
                    <string>ClockFrame04-40@2x.png</string>
                    <string>ClockFrame04-76.png</string>
                    <string>ClockFrame04-76@2x.png</string>
                    <string>ClockFrame04-83.5@2x.png</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>ClockFrame05</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ClockFrame05-20@2x.png</string>
                    <string>ClockFrame05-29@2x.png</string>
                    <string>ClockFrame05-40@2x.png</string>
                    <string>ClockFrame05-76.png</string>
                    <string>ClockFrame05-76@2x.png</string>
                    <string>ClockFrame05-83.5@2x.png</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>ClockFrame06</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ClockFrame06-20@2x.png</string>
                    <string>ClockFrame06-29@2x.png</string>
                    <string>ClockFrame06-40@2x.png</string>
                    <string>ClockFrame06-76.png</string>
                    <string>ClockFrame06-76@2x.png</string>
                    <string>ClockFrame06-83.5@2x.png</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>ClockFrame07</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ClockFrame07-20@2x.png</string>
                    <string>ClockFrame07-29@2x.png</string>
                    <string>ClockFrame07-40@2x.png</string>
                    <string>ClockFrame07-76.png</string>
                    <string>ClockFrame07-76@2x.png</string>
                    <string>ClockFrame07-83.5@2x.png</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>ClockFrame08</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ClockFrame08-20@2x.png</string>
                    <string>ClockFrame08-29@2x.png</string>
                    <string>ClockFrame08-40@2x.png</string>
                    <string>ClockFrame08-76.png</string>
                    <string>ClockFrame08-76@2x.png</string>
                    <string>ClockFrame08-83.5@2x.png</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>ClockFrame09</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ClockFrame09-20@2x.png</string>
                    <string>ClockFrame09-29@2x.png</string>
                    <string>ClockFrame09-40@2x.png</string>
                    <string>ClockFrame09-76.png</string>
                    <string>ClockFrame09-76@2x.png</string>
                    <string>ClockFrame09-83.5@2x.png</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>ClockFrame10</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ClockFrame10-20@2x.png</string>
                    <string>ClockFrame10-29@2x.png</string>
                    <string>ClockFrame10-40@2x.png</string>
                    <string>ClockFrame10-76.png</string>
                    <string>ClockFrame10-76@2x.png</string>
                    <string>ClockFrame10-83.5@2x.png</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>ClockFrame11</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>ClockFrame11-20@2x.png</string>
                    <string>ClockFrame11-29@2x.png</string>
                    <string>ClockFrame11-40@2x.png</string>
                    <string>ClockFrame11-76.png</string>
                    <string>ClockFrame11-76@2x.png</string>
                    <string>ClockFrame11-83.5@2x.png</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
        </dict>
    </dict>

    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>MinimumOSVersion</key>
    <string>17.0</string>
    <key>UIDeviceFamily</key>
    <array>
        <integer>2</integer>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>arm64</string>
    </array>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
</dict>
</plist>
